<mat-toolbar>
    <span style="color: #9a616d; font-family:monospace;">SMENT</span>
  </mat-toolbar>
  <mat-grid-list cols="4" rowHeight="2:2">
    <mat-grid-tile>Total Employees</mat-grid-tile>
    <mat-grid-tile>Total Employees on Leave</mat-grid-tile>
    <mat-grid-tile>Total Revenue</mat-grid-tile>
    <!-- <mat-grid-tile>
      <div class="clock-face">
        <div class="hour" [style.--rotate.deg]="(hourRotation | async)"></div>
        <div class="minute" 
        [style.--rotate.deg]="(minuteRotation | async)"></div>
        <div class="second" 
        [style.--rotate.deg]="(secondRotation | async)"></div>
      </div>

    </mat-grid-tile> -->
  </mat-grid-list>
  <!-- <mat-grid-list>
     <ejs-chart></ejs-chart>
  </mat-grid-list> -->