<mat-toolbar>
  <i class="fa-solid fa-chart-line"></i>
  <b style="color: #9a616d; font-family:monospace;">SMENT</b>
  </mat-toolbar>
  <br> <br>
  <mat-grid-list cols="6" rowHeight="2:1">
    <mat-grid-tile>
      <i class="fa-solid fa-bottle-water"></i><br>
      <b>Orders: </b><br>
      <p>1,58,000</p><br>
    </mat-grid-tile>
    <mat-grid-tile>
      <i class="fa-solid fa-brain"></i><br>
      <b>Clients: </b>
      <p>65</p><br>
    </mat-grid-tile>
    <mat-grid-tile>
      <i class="fa-solid fa-bangladeshi-taka-sign"></i><br>
      <b>Revenue: </b>
      <p>9,60,14,548</p><br>
    </mat-grid-tile>
    <mat-grid-tile>
      <i class="fa-regular fa-hard-drive"></i><br>
      <b>Machines: </b>
      <p>15</p><br>
    </mat-grid-tile>
    <mat-grid-tile>
      <i class="fa-solid fa-user-slash"></i>
      <b> Employees on Leave: </b>
      <p>3</p><br>
     </mat-grid-tile>
    <mat-grid-tile>
      <i class="fa-solid fa-address-card" ></i>
      <b> Employees </b>
      <p>39</p><br>
     </mat-grid-tile>
  </mat-grid-list>
  <!-- <mat-grid-list>
     <ejs-chart></ejs-chart>
  </mat-grid-list> -->
 