<h2>Your Order</h2>
<div class="container-fluid">
    <div class="text" style="color: #9f01ea;">
        Welcome To SMENT
    </div>
    <br>
    <form [formGroup]="addOrderDetails" (ngSubmit)="onsubmit()">
        <div class="form-row">
            <div class="col">

                <div class="input-data">
                    <input type="number" required formControlName="product_id">
                    <div class="underline"></div>
                    <label for="">Product ID</label>
                </div>
            </div>
            <br />
            <div class="col">

                <div class="input-data">
                    <input type="number" required formControlName="quantity">
                    <div class="underline"></div>
                    <label for="">Quantity</label>
                </div>
            </div>
            <br />
            <div class="col">

                <div class="input-data">
                    <input type="number" required formControlName="price">
                    <div class="underline"></div>
                    <label for="">Price</label>
                </div>
            </div>
            <br />
            <div class="col">

                <div class="input-data">
                    <input type="number" required formControlName="totalPrice">
                    <div class="underline"></div>
                    <label for="">Total Price</label>
                </div>
            </div>
            <br />
            <div class="input-data">
                <input type="date" required formControlName="deliveryDate">
                <div class="underline"></div>
                <!-- <label for="">Delivery Date</label> -->
            </div>
            <br />
        </div>
        <br />

        <div class="form-row submit-btn">
            <div class="input-data">
                <div class="inner"></div>
                <input type="submit" value="submit">
            </div>
        </div>
    </form>
</div>