<div class="content">
    <div class="container" > <br>
        <h2 class="mb-5">Ongoing Production</h2>
       
        <div class="table-responsive" >
            <button style="float: inline-end;" routerLink="/production" class="button">Produce</button>
            <table class="table custom-table">
                <thead>
                    <tr>
                        <th scope="col">Production ID</th>
                        <th scope="col">Order ID</th>
                        <th scope="col">Material</th>
                        <th scope="col">First Man</th>
                        <th scope="col">Second Man</th>
                        <th scope="col">Machine ID</th>
                        <th scope="col">Status</th>
                        </tr>
                </thead>
                <br>
              
                <tbody>
                    <tr scope="row" *ngFor="let item of productionList">
                        <td> {{item.production_id}}</td>
                        <td> {{item.order_id}}</td>
                        <td *ngFor="let i of materialList"> {{i.name}}</td>
                        <td *ngFor="let e of employeeList"> {{e.firstName}}</td>
                        <!-- <td> {{item.secondEmployee}}</td> -->
                        <td>{{item.machine_id}}</td>
                        <td> <b>{{item.status}}</b></td> <br>
                        <td>
                            <button  role="button" (click)="deleteById(item.production_id)">Delete</button>
                        </td>
                        <td>
                            <button  role="button"  [routerLink]="['/productionList', item.production_id]">Edit</button>
                        </td>
                        

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
