<h2>Fill out the Form</h2>
<div class="container-fluid">
    <br>
    <form [formGroup]="addClient" (ngSubmit)="onsubmit()">
        <div class="form-row">
            <div class="input-data">
                <input type="text" required formControlName="clientName">
                <div class="underline"></div>
                <label for="">Name</label>
            </div>
            <br />
            <div class="input-data">
                <input type="text" required formControlName="designation">
                <div class="underline"></div>
                <label for="">Designation</label>
            </div>
            <br />
        </div>
        <div class="form-row">
            <div class="input-data">
                <input type="text" required formControlName="contactNo">
                <div class="underline"></div>
                <label for="">Contact Number</label>
            </div>
            <br />
            <div class="input-data">
                <input type="text" required formControlName="officeAddress">
                <div class="underline"></div>
                <label for="">Location</label>
            </div>
            <br />
            <div class="input-data">
                <input type="text" required formControlName="orderInfo">
                <div class="underline"></div>
                <label for="">Order Information</label>
            </div>
            <br />
            <div class="input-data">
                <input type="number" required formControlName="material_id">
                <div class="underline"></div>
                <label for="">Material_id</label>
            </div>
            <br />
            <div class="input-data">
                <input type="number" required formControlName="product_id">
                <div class="underline"></div>
                <label for="">Product_id</label>
            </div>
            <br />
            <div class="input-data">
                <input type="number" required formControlName="quantity">
                <div class="underline"></div>
                <label for="">Quantity</label>
            </div>
            <br />
        </div>
        <br />

        <div class="form-row submit-btn">
            <div class="input-data">
                <div class="inner"></div>
                <input type="submit" value="submit">
            </div>
        </div>
    </form>
</div>