<!-- <mat-sidenav-container>
<mat-sidenav #sidenav mode="side" opened="true"></mat-sidenav>
<mat-nav-list>




    <mat-list-item> <a routerLink="/login" style="text-decoration:dotted; color: burlywood;"> <mat-icon>perm_identity</mat-icon>Login</a></mat-list-item>
    <mat-list-item><a routerLink="/signup" style="text-decoration:dotted; color: burlywood;"><mat-icon>add_box</mat-icon>
        Sign up</a></mat-list-item>
    <mat-list-item><a routerLink="/edit" style="text-decoration:dotted; color: burlywood;">Navbar</a></mat-list-item>
    <mat-list-item><a routerLink="/home" style="text-decoration:dotted; color: burlywood;">Home</a></mat-list-item>



</mat-nav-list>


<div>
    <router-outlet></router-outlet>
</div>
</mat-sidenav-container> -->

<mat-toolbar>
  <mat-toolbar-row>
    <button mat-flat-button routerLink="home">
      <img src="../../../assets/smLogo.png" height="35px" width="50px" alt="smLogo" />
    </button>

    <button mat-button (click)="opened = !opened">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- <h4 style="color: #9a616d">
        "The safety seal is a feature on medicine bottles that helps ensure the
        integrity of the product"
      </h4> -->
    <!-- <button mat-button><mat-icon>menu</mat-icon> Home</button>  -->
    <!-- &nbsp;&nbsp;&nbsp;&nbsp; -->
    <p style="color: tomato; font-family: Verdana, Geneva, Tahoma, sans-serif;"> {{ currentDate | date: 'short'}}</p>
   <button class="btn btn-outline-warning" routerLink="login">Login</button>
   <button class="btn btn-outline-success" routerLink="signup">Sign up</button>
  </mat-toolbar-row>


</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">
    <mat-list>
      <mat-list-item>
        <a routerLink="/dashboard" style="text-decoration: dotted;">
          <i class="fa-solid fa-gauge-high"></i>&nbsp;Dashboard</a></mat-list-item>
      <!-- <mat-list-item> <a routerLink="/home" style="text-decoration:dotted; color: #9A616D;"> <mat-icon>home</mat-icon>Home</a></mat-list-item> -->
      <mat-list-item>
        <a routerLink="/order" style="text-decoration: dotted;"><i class="fa-solid fa-code-pull-request"></i>&nbsp;Order
          </a></mat-list-item>
      <mat-list-item>
        <a routerLink="/orderList" style="text-decoration: dotted;"><i class="fa-solid fa-comments-dollar"></i>&nbsp; Order List</a></mat-list-item>
      <mat-list-item>
        <a routerLink="/details" style="text-decoration: dotted;"><i class="fa-solid fa-asterisk"></i>&nbsp;Details</a></mat-list-item>
      <mat-list-item>
        <a routerLink="/detailsList" style="text-decoration: dotted;"><i class="fa-brands fa-hive"></i>&nbsp;List</a></mat-list-item>
      <mat-list-item>
        <a routerLink="/invoice" style="text-decoration: dotted;"><i class="fa-solid fa-file-invoice"></i>&nbsp; Invoice</a></mat-list-item>
      <mat-list-item>
        <a routerLink="/invoiceList" style="text-decoration: dotted;"><i class="fa-solid fa-receipt"></i>&nbsp;Invoice Lists</a></mat-list-item>
      <mat-list-item>
        <a routerLink="/create" style="text-decoration: dotted;"><i class="fa-solid fa-bottle-droplet"></i>&nbsp;Add
          Products</a></mat-list-item>
      <mat-list-item>
        <a routerLink="/list" style="text-decoration: dotted;"><i class="fa-solid fa-list-check"></i>&nbsp;List of
          Bottles</a></mat-list-item>
          <mat-list-item>
            <a routerLink="/client" d style="text-decoration: dotted;"><i class="fa-solid fa-bag-shopping"></i>&nbsp;Clients</a>
          </mat-list-item>
      <mat-list-item>
        <a routerLink="/addClient" style="text-decoration: dotted;"><i
            class="fa-brands fa-jedi-order"></i>&nbsp;Add Clients</a></mat-list-item>
      <mat-list-item>
        <a routerLink="/employee" style="text-decoration: dotted;"><i class="fa-solid fa-user-check"></i>&nbsp;Recruit
          Employees</a></mat-list-item>
      <mat-list-item>
        <a routerLink="/employeelist" style="text-decoration: dotted;"><i
            class="fa-solid fa-users-rectangle"></i>&nbsp;EmployeeLists</a></mat-list-item>
      <mat-list-item>
        <a routerLink="/salary" style="text-decoration: dotted;"><i class="fa-solid fa-hand-holding-dollar"></i>&nbsp;Salary</a></mat-list-item>
      <mat-list-item>
        <a routerLink="/salaryList" style="text-decoration: dotted;"><i class="fa-solid fa-bangladeshi-taka-sign"></i>&nbsp;Salary List</a></mat-list-item>
      <!-- <mat-list-item>
        <a routerLink="/product" style="text-decoration: dotted;"><i
            class="fa-brands fa-goodreads"></i>Products</a></mat-list-item> -->

      <mat-list-item>
        <a routerLink="/production" style="text-decoration: dotted;"><i
            class="fa-solid fa-chalkboard-user"></i>&nbsp;Production</a>
      </mat-list-item>

      <mat-list-item>
        <a routerLink="/productionList" style="text-decoration: dotted;"><i class="fa-solid fa-forward-fast"></i>&nbsp;Production List</a>
      </mat-list-item>

      <mat-list-item>
        <a routerLink="/material" style="text-decoration: dotted;"><i class="fa-brands fa-mdb"></i>&nbsp;Raw Materials</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/materialList" style="text-decoration: dotted;"><i class="fa-solid fa-list-ol"></i>&nbsp;Raw Material List</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/machine" style="text-decoration: dotted;"><i class="fa-solid fa-dumpster-fire"></i>&nbsp;Machines</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>