<!-- <div class="container-md">
    <div class="row">
        <div class="col-3">
          <mat-grid-list cols="1" rowHeight="2:2">
            <mat-grid-tile>
              <img
                src="../../assets/raw_01.jpeg"
                alt="raw_01"
                height="100%"
                width="100%"
              />
            </mat-grid-tile>
          </mat-grid-list>
          <p style="color: #9a616d; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            <b>HDPE: High Density Polyethylene</b>
          </p>
        </div>
        <div class="col-3">
          <mat-grid-list cols="1" rowHeight="2:2">
            <mat-grid-tile>
              <img
                src="../../assets/raw_02.jpeg"
                alt="raw_02"
                height="100%"
                width="100%"
              />
            </mat-grid-tile>
          </mat-grid-list>
          <p style="color: #9a616d; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            <b>LDPE: Low Density Polyethylene</b>
          </p>
        </div>
        <div class="col-3">
          <mat-grid-list cols="1" rowHeight="2:2">
            <mat-grid-tile>
              <img
                src="../../assets/raw_03.jpg"
                alt="raw_03"
                height="100%"
                width="100%"
              />
            </mat-grid-tile>
          </mat-grid-list>
          <p style="color: #9a616d; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            <b>PET: Pet Polyethylene Terephthalate</b>
          </p>
        </div>
        <div class="col-3">
          <mat-grid-list cols="1" rowHeight="2:2">
            <mat-grid-tile>
              <img
                src="../../assets/raw_04.jpg"
                alt="raw_04"
                height="100%"
                width="100%"
              />
            </mat-grid-tile>
          </mat-grid-list>
          <p style="color: #9a616d; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            <b>PP: Polypropylene </b>
          </p>
        </div>
        <div class="col-3">
          <mat-grid-list cols="1" rowHeight="2:2">
            <mat-grid-tile>
              <img
                src="../../assets/raw_05.jpg"
                alt="raw_05"
                height="100%"
                width="100%"
              />
            </mat-grid-tile>
          </mat-grid-list>
          <p style="color: #9a616d; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            <b>PC: Polycarbonate </b>
          </p>
        </div>
        <div class="col-3">
          <mat-grid-list cols="1" rowHeight="2:2">
            <mat-grid-tile>
              <img
                src="../../assets/raw_06.jpg"
                alt="raw_06"
                height="100%"
                width="100%"
              />
            </mat-grid-tile>
          </mat-grid-list>
          <p style="color: #9a616d; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            <b>PS: Polystyrene </b>
          </p>
        </div>
        <div class="col-3">
          <mat-grid-list cols="1" rowHeight="2:2">
            <mat-grid-tile>
              <img
                src="../../assets/raw_07.jpg"
                alt="raw_07"
                height="100%"
                width="100%"
              />
            </mat-grid-tile>
          </mat-grid-list>
          <p style="color: #9a616d; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            <b>PVC: Polyvinly Chloride  </b>
          </p>
        </div>
    </div>
    </div> -->
<div class="container-fluid"> <br>
  <div class="text" style="color: #9f01ea; font-size:x-large;">
    Fill the fields to purchase the Raw Material
  </div>
  <br>
  <form class="form-floating"  [formGroup]="addMaterial" (ngSubmit)="onsubmit()">
    <div class="form-row">
      <div class="input-data">
        <span class="custom-dropdown big">
          <b style="color: #3498db;">Material Name: </b>
          <select formControlName="name">
            <option>HDPE</option>
            <option>LDPE</option>
            <option>PET: Polyethylene Terephthalate</option>
            <option>PP: Polypropylene</option>
            <option>PC: Polycarbonate</option>
            <option>PS: Polystyrene</option>
            <option>PVC: Polyvinyl Chloride</option>
          </select>
        </span>
      </div>
      <br />
      <div class="input-data">
        <span class="custom-dropdown big">
          <b style="color: #3498db;">Coutry</b>
          <select formControlName="country">
            <option>USA</option>
            <option>Saudi Arabia</option>
            <option>China</option>
            <option>Japan</option>
            <option>Sri-Lanka</option>
            <option>India</option>
          </select>
        </span>
      </div>
      <br />
    </div> <br>
      <div class="input-data">
        <span class="custom-dropdown big">
          <b style="color: #3498db;">Quantity</b>
          <select formControlName="quantity">
            <option>50</option>
            <option>100</option>
            <option>150</option>
            <option>200</option>
            <option>250</option>
            <option>500</option>
            <option>1000</option>
          </select>
        </span>
      </div>
      <br />
      <div class="form-row container-sm">
        <div class="input-data">
          <input type="number" required formControlName="payment">
          <div class="underline"></div>
          <label for="">Price</label>
        </div>
        <br />
      </div>
      <br />

      <div class="form-row submit-btn">
        <div class="input-data">
          <button style="float: inline-end;">Purchase</button>
        </div>
      </div>
  </form>
</div>