<div class="container" role="alert" style="background-color: #97605b">
    <br />
    <form style="text-align: center">
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Product ID</mat-label>
          <input matInput placeholder="Ex. #sm0911" />
        </mat-form-field>
      </div>
  
      <div class="form-group">
        <mat-form-field>
          <mat-label>Select Product Name</mat-label>
          <mat-select>
            <mat-option value="HDPE Bottles">HDPE Bottles</mat-option><br />
            <mat-option value="HDPE Container Set">HDPE Container Set</mat-option
            ><br />
            <mat-option value="Pharmaceuticals Measuring Cup"
              >Pharmaceuticals Measuring Cup</mat-option
            ><br />
            <mat-option value="Pharmaceuticals Measuring Spoon"
              >Pharmaceuticals Measuring Spoon</mat-option
            ><br />
            <mat-option value="Pharmaceuticals Dropper"
              >Pharmaceuticals Dropper</mat-option
            ><br />
            <mat-option value="Elastic Belt for Sanitary Napkin"
              >Elastic Belt for Sanitary Napkin</mat-option
            ><br />
            <mat-option value="Container Set">Container Set</mat-option><br />
            <mat-option value="Vatenary Syringe">Vatenary Syringe</mat-option
            ><br />
            <mat-option value="5 Litre bottles">5 Litre bottles</mat-option><br />
            <mat-option value="Syringes">Syringes</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Material ID</mat-label>
          <input matInput placeholder="Ex. #mid0911" />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Raw Material</mat-label>
        
                
                  <mat-select>
                    <mat-option value="HDPE">HDPE</mat-option>
                    <mat-option value="LDPE">LDPE</mat-option>
                    <mat-option value="PET"
                      >PET: Polyethylene Terephthalate</mat-option
                    >
                    <mat-option value="PP">PP: Polypropylene</mat-option>
                    <mat-option value="PC">PC: Polycarbonate</mat-option>
                    <mat-option value="PS">PS: Polystyrene</mat-option>
                    <mat-option value="PVC">PVC: Polyvinyl Chloride</mat-option>
                 
                  </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>WorkOrder</mat-label>
          <input matInput placeholder="Ex. #sm09mid09-????" />
        </mat-form-field>
      </div>
      <button type="submit" class="btn btn-outline-success">Submit</button>
    </form>
    <br />
    <br />
    <div></div>
  </div>
  
