<div class="content">
    <div class="container-fluid" > <br>
        <h2 class="mb-5">Machine List</h2>
        <div style="float: inline-end;">
            <button class="button" routerLink="/machine">
                <i class="fa-solid fa-square-plus"> &nbsp; Machine</i>
            </button>
        </div>
       
        <div class="table-responsive" >
            <!-- <button style="float: inline-end;" routerLink="/addClient">Add your Order</button> -->
            <table class="table custom-table">
                <thead>
                    <tr>
                        <th scope="col">Machine ID</th>
                        <th scope="col">Country</th>
                        <th scope="col">Status</th>
                        <th scope="col">Production(Per Minute)</th>
                        <th scope="col">Employee Name</th>
                        <th scope="col"></th>
                        <th scope="col">Action</th>
                        </tr>
                </thead>
                <br>
              
                <tbody>
                    <tr scope="row" *ngFor="let item of machineList" >
                        <td> {{item.machine_id}}</td>
                        <td>{{item.country}}</td>
                        <td>{{item.status}}</td>
                        <td>{{item.pmProduction}}</td>
                        <td *ngFor=" let i of EmployeeList">{{i.firstName}}</td>
                        <td>
                            <button  role="button" (click)="deleteById(item.machine_id)">Delete</button> &nbsp;
                            <button role="button"  [routerLink]="['/machineList', item.machine_id]">Edit</button>
                        </td>

                        

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

