<h1>SM Enterprise</h1>
<div class="simple-bar-chart">
  
  <div class="item" style="--clr: #5EB344; --val: 80">
    <div class="label" style="font-family:'Courier New', Courier, monospace; font-size:x-large;" >Employee Attendance</div>
    <div class="value">80%</div>
  </div>
  
  <div class="item" style="--clr: #FCB72A; --val: 50">
    <div class="label" style="font-family:'Courier New', Courier, monospace; font-size:x-large;">Working Progress</div>
    <div class="value">50%</div>
  </div>
  
  <div class="item" style="--clr: #F8821A; --val: 100">
    <div class="label" style="font-family:'Courier New', Courier, monospace; font-size:x-large;">Material Stocked</div>
    <div class="value">100%</div>
  </div>
  
  <div class="item" style="--clr: #E0393E; --val: 15">
    <div class="label" style="font-family:'Courier New', Courier, monospace; font-size:x-large;">Equipment</div>
    <div class="value">15%</div>
  </div>
  
  <div class="item" style="--clr: #963D97; --val: 1">
    <div class="label" style="font-family:'Courier New', Courier, monospace; font-size:x-large;">Error</div>
    <div class="value">1%</div>
  </div>
  
  <div class="item" style="--clr: #069CDB; --val: 90">
    <div class="label" style="font-family:'Courier New', Courier, monospace; font-size:x-large;">Client</div>
    <div class="value">90%</div>
  </div>
</div>

