
<h3 style="color: #9a616d;">The Quality of a product is a direct reflection of the Quality of the people who create it.
    <b style="color: #9a616d;">"SMENT"</b>
  </h3>
    <div class="row">
      <div class="col-3">
        <mat-grid-list cols="1" rowHeight="2:2">
          <mat-grid-tile>
            <img
              src="../../assets/machine_01.jpg"
              alt="machine_01"
              height="100%"
              width="100%"
            />
          </mat-grid-tile>
        </mat-grid-list>
        <p style="color: #9a616d; font-family: monospace">
          Plastic Injection Molding Machine
        </p>
      </div>
  
      <div class="col-3">
        <mat-grid-list cols="1" rowHeight="2:2">
          <mat-grid-tile>
            <img
              src="../../assets/machine_02.jpg"
              alt="machine_02"
              height="100%"
              width="100%"
            />
          </mat-grid-tile>
        </mat-grid-list>
        <p style="color: #9a616d; font-family: monospace">
          Blow Molding Machine
        </p>
      </div>
  
      <div class="col-3">
        <mat-grid-list cols="1" rowHeight="2:2">
          <mat-grid-tile>
            <img
              src="../../assets/machine_03.jpg"
              alt="machine_03"
              height="100%"
              width="100%"
            />
          </mat-grid-tile>
        </mat-grid-list>
        <p style="color: #9a616d; font-family: monospace">
          Pet Bottle Comparator
        </p>
      </div>
      <div class="col-3">
        <mat-grid-list cols="1" rowHeight="2:2">
          <mat-grid-tile>
            <img
              src="../../assets/machine_04.jpg"
              alt="machine_04"
              height="100%"
              width="100%"
            />
          </mat-grid-tile>
        </mat-grid-list>
        <p style="color: #9a616d; font-family: monospace">
          Towable Generators
        </p>
      </div>
      <div class="col-3">
        <mat-grid-list cols="1" rowHeight="2:2">
          <mat-grid-tile>
            <img
              src="../../assets/machine_05.jpg"
              alt="machine_05"
              height="100%"
              width="100%"
            />
          </mat-grid-tile>
        </mat-grid-list>
        <p style="color: #9a616d; font-family: monospace">
        Machine SC-2000, SC-5000-1, SC-10L
        </p>
      </div>
      <div class="col-3">
        <mat-grid-list cols="1" rowHeight="2:2">
          <mat-grid-tile>
            <img
              src="../../assets/machine_06.jpg"
              alt="machine_06"
              height="100%"
              width="100%"
            />
          </mat-grid-tile>
        </mat-grid-list>
        <p style="color: #9a616d; font-family: monospace">
          Handheld bottle capper electric bottle capping machine
        </p>
      </div>
      <div class="col-3">
        <mat-grid-list cols="1" rowHeight="2:2">
          <mat-grid-tile>
            <img
              src="../../assets/machine_07.jpg"
              alt="machine_07"
              height="100%"
              width="100%"
            />
          </mat-grid-tile>
        </mat-grid-list>
        <p style="color: #9a616d; font-family: monospace">
          Bottle Cap Sealer for Bottles 50-130mm in Diameter 220V
        </p>
      </div>
    </div>
  
  
